<!DOCTYPE html>
<html>
<head>
	<title>Lysofts Sales-API</title>
</head>
<body style="background-color: #eee;">
	<div style="width: 700px; margin: auto; height: auto; padding: 10px; background-color: #fff" class="col-md-6">
		<h3><u>Supplier-Client api for building custom applications for the supply chain</u></h3>
		<h4>Instroduction</h4>
		<p>This restful api is build with django rest framework and is available <a href="https://ochom.github.com/supplier-client-api">Github Supplier-Client-api</a>. Your suggestions and contributions will be highly appreciated.<br>
			Deployed with it together is a sample supplier client <strong>Android App</strong> for the same navigate to releases to find the <strong>APK</strong>
		<h5>Modules</h5>
		<ul>
			<!-- <li>Sales Agents</li> -->
			<li>Clients</li>
			<li>Products</li>
			<li>Client Orders</li>
		</ul>
		<h4>Clients</h4>
		<h5>Registration</h5>
		<span>Post/ Add client<br>url:</span>
		</p>
	</div>

</body>
</html>